<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated MyPantry -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="MyPantry.presentation.MyPantryModelWizardID"
            name="%_UI_MyPantryModelWizard_label"
            class="MyPantry.presentation.MyPantryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MyPantryModelFile.gif">
         <description>%_UI_MyPantryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated MyPantry -->
      <editor
            id="MyPantry.presentation.MyPantryEditorID"
            name="%_UI_MyPantryEditor_label"
            icon="icons/full/obj16/MyPantryModelFile.gif"
            extensions="mypantry"
            class="MyPantry.presentation.MyPantryEditor"
            contributorClass="MyPantry.presentation.MyPantryActionBarContributor">
      </editor>
   </extension>

</plugin>
