<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated RecipeML -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="RecipeML.presentation.RecipeMLModelWizardID"
            name="%_UI_RecipeMLModelWizard_label"
            class="RecipeML.presentation.RecipeMLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RecipeMLModelFile.gif">
         <description>%_UI_RecipeMLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated RecipeML -->
      <editor
            id="RecipeML.presentation.RecipeMLEditorID"
            name="%_UI_RecipeMLEditor_label"
            icon="icons/full/obj16/RecipeMLModelFile.gif"
            extensions="recipeml"
            class="RecipeML.presentation.RecipeMLEditor"
            contributorClass="RecipeML.presentation.RecipeMLActionBarContributor">
      </editor>
   </extension>

</plugin>
